<%- include("partials/header.ejs") %>

<h1> Weather Dashboard  </h1> 
<h2> Temperature: <%= temperature %>  </h2>  
<h2> Humidity: <%= humidity %>  </h2>  
<h2> Pressure: <%= pressure %>  </h2>  

<%- include("partials/footer.ejs") %>